<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
<style>
/* Custom Markdown styles */

/* Note Red */
.danger {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
}

/* Note Green */
.success {
  background-color: #ddffdd;
  border-left: 6px solid #4caf50;
}

/* Note Blue */
.info {
  background-color: #e7f3fe;
  border-left: 6px solid #2196f3;
}

/* Note Yellow */
.warning {
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
}

/* Note Gray */
.other {
  background-color: #e7e7e7;
  border-left: 6px solid #696965;
}

/* Marker Yellow */
.m_warning {
  background-color: yellow;
}

/* Marker Gray */
.m_other {
  background-color: lightgray
}

/* Marker Blue */
.m_info {
  color: lightblue;
}

/* Marker Orange */
.m_danger {
  background-color: #ffdddd
}

</style>
</head>
<body>
</body>
</htm>
